doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title ppp
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    svg( id="composerVector" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" )
    #composerText
      #composerInner
    #menu
      .page.active( data-title ='Menu', data-pid='menu' )
        .inner
          ul
            span.es
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'news2' ) News ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'gallery' ) Galería ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'about' ) About ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'manifesto' ) Manifesto ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'contacto' ) Contacto ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'faq' ) FAQ ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'credits' ) Créditos ]
            span.en
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'news2' ) News ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'gallery' ) Gallery ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'about' ) About ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'manifesto' ) Manifesto ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'contacto' ) Contact ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'faq' ) FAQ ]
              li.menuItem #[a( href = 'javascript:void(0)' data-target = 'credits' ) Credits ]
      .page.right( data-title ='News', data-pid='news2' )
        .inner
          span.es
            p Queremos avisarte de las proyecciones que llevemos a cabo en distintos lugares.
            p #[a(href='mailto:publicprotestposter@gmail.com') Mándanos] un correo para que podamos enviarte las noticias.
          span.en
            p We want to keep you up to date on our projections all over the place.
            p #[a(href='mailto:publicprotestposter@gmail.com') Send] us an email so we can send you our news.
      .page.right( data-title ='Galería', data-pid='gallery', data-class = 'Gallery' )
        .inner
          p.es.bodySized Visita #[a( href='https://www.instagram.com/public_protest_poster/' target='_blank' ) @public_protest_poster ] para verlos proyectados.
          p.en.bodySized Visit #[a( href='https://www.instagram.com/public_protest_poster/' target='_blank' ) @public_protest_poster ] to see them projected.
          ul.clearfix
      .page.right( data-title ='Sobre ppp', data-pid='about' )
        .inner.bodySized
          p 
            span.es public protest poster es un proyecto de investigación en curso.
            span.en public protest poster is an ongoing research project.
          p 
            span.es El proyecto investiga desde la práctica sobre el presente y el futuro de los pósters en las ciudades. El objetivo es conquistar el espacio público, crear cultura entorno al póster, dar herramientas para la expresión y dar voz a todas las personas que tengan algo que decir para luego proyectarlos en el espacio público. Pretende ser un regalo y una herramienta de reflexión pausada para las personas, el barrio y la ciudad.
            span.en The project is researching the role of posters today and in the future through practical applications. Its goal is to conquer public space, create poster-based culture, give people tools to express themselves and give voice to anyone with something to say and then project the results in public spaces. It aims to be a gift and a tool for slow and deliberate reflection, for people, the neighborhood and the city.
      .page.right( data-title ='Manifesto', data-pid='manifesto' )
        .inner
          ul
            li — #[span.es Crítico ]#[span.en Critical ]
            li — #[span.es Gratis ]#[span.en Free ]
            li — #[span.es Fácil ]#[span.en Easy ]
            li — #[span.es En red ]#[span.en Online ]
            li — #[span.es Inclusivo ]#[span.en Inclusive ]
      .page.right( data-title ='Contacto', data-pid='contacto' )
        .inner
          p.bodySized #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
      .page.right( data-title ='FAQs', data-pid='faq' )
        .inner FAQ
          span.es
            p.bodySized ¿Qué hace ppp?
            p.bodySized Proyecta en el espacio público los pósters que la gente realiza a través de esta web.
            p.bodySized Los textos y los carteles son lo principal: el medio que utilizamos son los carteles y queremos usarlos como una herramienta para pensar, reaccionar y actuar ante temas concretos.
            p.bodySized 2) Como está organizado public protest poster?
            p.bodySized Actualmente está bajo el paraguas de la Asociación Cultural Grafismo de Frontera. Los fines básicos de la asociación son la promoción del diseño gráfico y la cultura local, y la diseminación de las mejores prácticas internacionales a través de festivales, talleres conferencias, exposiciones…
            p.bodySized 3) ¿Hay derechos de autor en los textos y la firma de public protest poster?
            p.bodySized Para uso personal, puedes utilizar los textos sin pedir permiso previo. El uso personal se entiende como uso no comercial. Para cualquier publicación oficial (incluso si es sin fines de lucro) se debe solicitar permiso. Las solicitudes pueden enviarse a #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
            p.bodySized 4) ¿Cómo financian sus actividades?
            p.bodySized Esta es la pregunta más frecuente y la respuesta podrías ser tú. 
            p.bodySized Pregunta en #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
            p.bodySized 5) ¿Está ppp conectado a un partido político o a una religión?
            p.bodySized No, en ningún caso; somos una organización sin ánimo de lucro no política y laica.
            p.bodySized 6) ¿Puedo ser miembro de public protest poster?
            p.bodySized Puedes convertirte en miembro/partidario de la asociación cultural. Como miembro, recibirás el newsletter mensual y podrás unirte a las actividades in situ que planificaremos más adelante. Escribe a #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
            p.bodySized 7) ¿Está permitido difundir carteles en público?
            p.bodySized Está permitido difundir carteles en público, pero no en todos los lugares. Difundir opiniones, ideas y pensamientos es libertad de expresión y se enmarca en el artículo 19 de la declaración universal de los derechos humanos.
          span.en
            p.bodySized What does ppp do?
            p.bodySized It projects the posters people make on this site in public spaces.
            p.bodySized It is based on texts and posters. We strive to use posters as a tool for thinking, reacting and acting on specific topics.
            p.bodySized 2) How is public protest poster organized?
            p.bodySized It is currently under the umbrella of the Asociación Cultural Grafismo de Frontera. The main goals of this association are to promote graphic design and local culture, and to share international best practices through festivals, workshops, conferences, exhibitions, etc.
            p.bodySized 3) Are the texts and public protest poster protected by copyright?
            p.bodySized For personal use, the texts can be used without asking for permission. Personal use is any non-commercial use. For any official publications (even if not for profit), you have to get permission first. Send any requests to #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com]
            p.bodySized 4) How are the activities funded?
            p.bodySized This is the most common question we get, and the answer could be you.
            p.bodySized Ask #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
            p.bodySized 5) Is ppp associated with a political party or religion?
            p.bodySized No, not at all; we’re a non-profit, non-political, secular organization.
            p.bodySized 6) Can I join public protest poster?
            p.bodySized You can become a member of the cultural association. As a member, you’ll get a monthly newsletter and can join the in-person activities we’ll be hosting in the future. Write to #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
            p.bodySized 7) Is putting up posters in public allowed?
            p.bodySized Putting up posters in public is allowed, but not everywhere. Sharing opinions, ideas and thoughts is freedom of expression and falls under article 19 of the Universal Declaration of Human Rights.
      .page.right( data-title ='Créditos', data-pid='credits' )
        .inner
          span.es
            p.bodySized Idea y diseño: public protest poster
            p.bodySized Programación: Santi Grau #[a(href="https://www.instagram.com/____santi____/" target='_blank') @__santi__]
            p.bodySized Open source license for the software and all contents citing public_protest_poster
            p.bodySized Gracias a: 
            p.bodySized Anthony Burril #[a(href="http://anthonyburril.co.uk" target='_blank') anthonyburril.co.uk] por la cesión de Function Regular Stencil.
            p.bodySized Eduardo Manso #[a(href="http://emtype.com" target='_blank') emtype.com] por la cesión de la tipografía Geogrotesque Stencil Bold. 
            p.bodySized Göran Söderström de #[a(href="http://lettersfromsweden.se" target='_blank') lettersfromsweden.se] por la tipografía Trim Stencil Regular.
            p.bodySized Chester Jenkins de #[a(href="http://vllg.com" target='_blank') vllg.com] por la tipografía Cooper Hewitt Heavy open font bajo licencia OFL 
            p.bodySized Alfredo Marco de #[a(href="http://hanken.co" target='_blank') hanken.co] por Glacial Indiference Bold bajo licencia OFL
            p.bodySized Frank Grießhammer Colophon Foundry por DM Serif Regular 400 y DM Serif Display Regular 400 bajo licencia OFL
            p.bodySized Alexey Kryukov de #[a(href="http://www.paratype.ru" target='_blank') www.paratype.ru] por Km Standard TT Bold modified by Camille Moisset Bold bajo licencia OFL
            p.bodySized Guilherme Schneider por Marsh
          span.en
            p.bodySized Idea and design: public protest poster
            p.bodySized Programming: Santi Grau #[a(href="https://www.instagram.com/____santi____/" target='_blank') @__santi__]
            p.bodySized Open source license for the software and all contents citing public_protest_poster
            p.bodySized Thanks to:
            p.bodySized Anthony Burril #[a(href="http://anthonyburril.co.uk" target='_blank') anthonyburril.co.uk] for allowing us to use the font Function Regular Stencil.
            p.bodySized Eduardo Manso #[a(href="http://emtype.com" target='_blank') emtype.com] for allowing us to use the font Geogrotesque Stencil Bold.
            p.bodySized Göran Söderström at #[a(href="http://lettersfromsweden.se" target='_blank') lettersfromsweden.se] for the font Trim Stencil Regular.
            p.bodySized Chester Jenkins of #[a(href="http://vllg.com" target='_blank') vllg.com] for the font Cooper Hewitt Heavy under the OFL (open font license)
            p.bodySized Alfredo Marco at #[a(href="http://hanken.co" target='_blank') hanken.co] for Glacial Indiference Bold under the OFL
            p.bodySized Frank Grießhammer at Colophon Foundry for DM Serif Regular 400 and DM Serif Display Regular 400 under the OFL
            p.bodySized Alexey Kryukov at #[a(href="http://www.paratype.ru" target='_blank') www.paratype.ru] for Km Standard TT Bold modified by Camille Moisset Bold under the OFL
            p.bodySized Guilherme Schneider for Marsh
    #mainFlow
      .page.active( data-title ='Hola!', data-pid='main' )
        .inner
          p.title.wlinebreaks
            | public protest
            | #[span.es proyecto ]#[span.en project ]
          p 
            .span.es La herramienta para móvil que da voz a las personas, con la que puedes diseñar tus propios pósters y nosotros los proyectamos. Utilízala de manera constructiva y positiva, evitando ser moralista o dogmático. El humor y el respeto son muy importantes.
            .span.en A mobile tool that gives people a voice, that you can use to design your own posters and we’ll project them. Use it constructively and positively; try not to be moralizing or dogmatic. Humor and respect are key.
      .page( data-title ='1/6 &nbsp; El mensaje', data-pid='intro2' )
        .inner
          p
            .span.es Escribe el mensaje para tu póster protesta de mínimo una palabra y máximo ocho.
            .span.en Write a message for your protest poster with at least one word and no more than eight.
      .page.posterPreview( data-title ='2/6 &nbsp;  Redacción', data-pid='writer', data-class = 'Writer' )
        .frame
          textarea.poster( placeholder='Escribe aquí' maxlength='70' data-gramm_editor='false' rows='1' data-font='helvetica' )
      .page.fullscreen( data-title ='3/6 &nbsp; Tipografía', data-pid='font', data-class = 'Font' )
        .inner
          ul.optionList
            li.cooper(data-font='cooper' style='padding-top:25px;padding-bottom:10px;').selected #[span.es HOLA! ]#[span.en HELLO! ]
            li.funct(data-font='funct' style='padding-top:5px;padding-bottom:20px;') #[span.es HOLA! ]#[span.en HELLO! ]
            li.dmserif(data-font='dmserif') #[span.es HOLA! ]#[span.en HELLO! ]
            li.kmstandard(data-font='kmstandard') #[span.es HOLA! ]#[span.en HELLO! ]
            li.marsh(data-font='marsh' style='padding-top:18px;padding-bottom:7px;') #[span.es HOLA! ]#[span.en HELLO! ]
            li.glacial(data-font='glacial') #[span.es HOLA! ]#[span.en HELLO! ]
            li.trim(data-font='trim') #[span.es HOLA! ]#[span.en HELLO! ]
            li.geogrotesque(data-font='geogrotesque') #[span.es HOLA! ]#[span.en HELLO! ]
      .page.posterPreview.fullscreen( data-title ='4/6 &nbsp; Tamaño', data-pid='size', data-class = 'Size' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
        .inner
          #sizeSelector
            span.selector.more( data-action='more') +
            span.selector.less( data-action='less') –
      .page.posterPreview.fullscreen( data-title ='5/6 &nbsp; Alinear', data-pid='align', data-class = 'Align' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
        .inner
          #alignSelector
            span.selector.left( data-action='left')
            span.selector.center( data-action='center')
            span.selector.right( data-action='right')
      .page.fullscreen( data-title ='6/6 &nbsp; Color', data-pid='color', data-class = 'Color' )
        .inner
          ul.optionList
            li.col(data-background='#262626' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#003300' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#000066' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#330066' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#660033' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#990000' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li.col(data-background='#ff3300' data-foreground='#ffffff') #[span.es HOLA! ]#[span.en HELLO! ]
            li(data-background='#ffffff' data-foreground='#000000').selected #[span.es HOLA! ]#[span.en HELLO! ]
      .page.posterPreview( data-title ='Tu póster', data-pid='preview' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
      
      .page( data-title ='¡Enviado!', data-pid='save2', data-class = 'Save' )
        .inner
          p 
            .span.es Gracias por participar.
            .span.en Thanks for participating.
          p 
            .span.es Tu póster es anónimo y en breve formará parte de la galería.
            .span.en Your poster is anonymous and will become part of the gallery shortly.
          p 
            .span.es Pronto lo proyectaremos, #[a(href='mailto:publicprotestposter@gmail.com') ¿te avisamos?]
            .span.en We’ll project it soon, want us to #[a(href='mailto:publicprotestposter@gmail.com') let you know?]
          p 
            .span.es ¿Quieres hacer #[a(href='') otro póster?]
            .span.en Want to make #[a(href='') another poster?]
    #header.navi
      .inner
        #pageTitle.main ppp
      #menuBut
    #footer.navi
      .inner
        span.arrow.left ←
        span.arrow.right →
        span.arrow.menu ←
    #desktopwarn
      .inner 
        .span.es Plataforma diseñada para su uso en dispositivos móviles.
        .span.en Available only for mobile.
    script(src='../js/main.js')
