doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title ppp
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    svg( id="composerVector" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" )
    #composerText
      #composerInner
    #menu
      .page.active( data-title ='Menu', data-pid='menu' )
        .inner
          ul
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'news' ) News ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'gallery' ) Galería ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'about' ) About ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'manifesto' ) Manifesto ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'contacto' ) Contacto ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'faq' ) FAQ ]
            li.menuItem #[a( href = 'javascript:void(0)' data-target = 'credits' ) Créditos ]
      .page.right( data-title ='News', data-pid='news2' )
        .inner
          p Queremos informarte de las diferentes proyecciones semanales y mensuales por todo el mundo.
          input.bodySized( type='text' placeholder="nombre@correo.com")
          p #[a(href='javascript:void(0)') Enviar ]
      .page.right( data-title ='Galería', data-pid='gallery', data-class = 'Gallery' )
        .inner
          ul.clearfix
      .page.right( data-title ='About', data-pid='about' )
        .inner.bodySized
          p (pppp) public protest poster project es un proyecto de investigación del diseñador gráfico navarro @goni_studio profesor y estudiante del Master en diseño y comunicación en curso (MUDIC) @elisava. El proyecto investiga desde la práctica sobre cual es el presente y el futuro de los posters en las ciudades. El objetivo es conquistar el espacio público dominado sólo por los anuncios comerciales, crear cultura entorno al poster, dar herramientas para la expresión y dar voz a todas las personas que tengan algo que decir a través de los posters mediante proyecciones en las paredes que rodean el espacio vital del diseñador. Para la ideación y el desarrollo de esta herramienta (ppp) se une al equipo el visual coder Santi Grau. Una herramienta con la que cualquier persona pueda diseñar su poster tipográfico en muy poco tiempo y compartirlo con la comunidad en la galería, en sus redes u obtener un PDF listo para imprimir y difundirlo en el espacio público. Todos los posters anónimos se proyectarán desde la misma terraza o desde otros nodos de la red en diversas ciudades del mundo dando voz a todas las personas que quieran formar parte del proyecto. Pretende ser un regalo y una herramienta de reflexión pausada para las personas, el barrio y la ciudad. 
          p El cartel es un medio para el espacio público, con unas características y necesidades concretas. Al observar los carteles de protesta de las manifestaciones de la última década, hemos observado que, aunque la calidad de los mensajes es alta, con un buen uso del lenguaje, la sátira o a ironía, su expresión formal podría mejorar mediante la creación de herramientas que ayuden a la transmisión del mensaje de manera sencilla y ordenada. Nos gustaría que la utilices tantas veces como desees. Si quieres formar parte de la red a nivel global y proyectar los diversos carteles tanto de los diseñadores que forman parte de la serie de IGTV con el mismo nombre o para proyectar los carteles que se almacenan en la galería puedes escribir a publicprotestposter@gmail.com no para pedir permiso, sino para que pongamos a tu alcance todas los archivos y herramientas de las que disponemos.
      .page.right( data-title ='Manifesto', data-pid='manifesto' )
        .inner
          ul
            li — Activo
            li — Crítico
            li — Abierto
            li — Inclusivo
            li — Horizontal
            li — Gratis 
            li — Fácil
            li — Rápido
            li — En Red
      .page.right( data-title ='Contact', data-pid='contacto' )
        .inner
          p.bodySized #[a(href="mailto:publicprotestposter@gmail.com") publicprotestposter@gmail.com] 
      .page.right( data-title ='FAQ', data-pid='faq' )
        .inner FAQ
          p.bodySized 1.¿Qué quiere public protest poster y qué hace?
          p.bodySized Cada semana se proyectan los posters realizados. Los textos publicados en los posters pueden reflejan las temáticas del mundo en que vivimos. La opinión de los creadores y sus textos no son responsabilidad de esta plataforma que entiende que cualquier persona que la use, la utilizará de una manera constructiva y positiva evitando ser moralista o dogmático. Protestar es ser testigo Algunos textos tendrán contenido serio y otros probablemente nos hagan reír. El humor y el respeto son muy importantes para esta plataforma en demo.
          p.bodySized Los textos y los cartelesson lo principal:
          p.bodySized Nos expresamos mediante el cartel. El medio que utilizamos son los carteles. El arte, la fotografía, el teatro, el vídeo, la ilustración o la música son otras formas de expresión que nos ayudan en nuestro desarrollo personal, cultural y social. En principio, no queremos que los carteles sean producciones a nivel artístico, sino usarlos como una herramienta para pensar, reaccionar y actuar ante un tema concreto. Utilizamos el cartel porqué es un desafío a la creatividad y nos obliga a adoptar un enfoque distinto al habitual.
          p.bodySized Áreas principales en las que ppp está enfocado:
          p.bodySized — Derechos humanos y democracia: para promover la libertad de expresión y aumentar la democracia de los países de una manera sutil y positiva.
          p.bodySized — Paz internacional, tolerancia y lucha contra el racismo y la xenofobia.
          p.bodySized — Protección del medio ambiente y cambio climático: el mundo está cambiando y siempre será así, pero hay algunos cambios que es preferible evitar, especialmente cuando se trata del cambio climático. 
          p.bodySized — Desarrollo local e internacional: adscribiéndose a iniciativas locales para el desarrollo de campañas de buenas prácticas, inspirarlos y llamarlos a la acción.
          p.bodySized — Desarrollo personal y vida cotidiana: no tratamos solo de los grandes problemas mundiales, sino también de los problemas personales y de lo que sucede en nuestro entorno cercano. Por eso te invitamos a que escribas sobre los problemas y virtudes de tu ciudad tu barrio y su gente. Puedes activar un grupo y liderar un proceso creativo. 
          p.bodySized 2) Como esta organizada public protest poster?
          p.bodySized Actualmente está bajo el paraguas de la Asociación Cultural Grafismo de Frontera con sede en Gerona. Los fines básicos de la asociación son la promoción del diseño gráfico, la cultura local y acercar las mejores prácticas internacionales a través de festivales, talleres, conferencias, exposiciones… 
          p.bodySized 3) ¿Hay derechos de autor en los textos y la firma de public protest poster?
          p.bodySized Para uso personal, puedes usar los textos sin pedir permiso previo. Bajo uso personal se entiende el uso no comercial, por ejemplo, en tus redes sociales, blogs o para colgar carteles en casa u oficinas. Los carteles están disponibles en línea y se puede bajar como jpeg o como pdf para redimensionarlos o imprimirlos en alta calidad. Para cualquier publicación oficial (incluso si es sin fines de lucro) se debe solicitar permiso. Las solicitudes pueden enviarse a publicprotestposter@gmail.com
          p.bodySized 4) ¿Cómo financian sus actividades?
          p.bodySized Esta es la pregunta más frecuente y la respuesta podrías ser tu. Como organización sin fines de lucro, dependemos en parte del apoyo de las personas que visitan este sitio web y a los que les gustan los textos. 
          p.bodySized Además de financiar actividades a través de donaciones, intentamos ganar nuestro propio dinero dando talleres creativos, los Design Workshops (@design_workshops_2020)
          p.bodySized 5) ¿Está ppp conectado a un partido político o a una religión?
          p.bodySized No, en ningún caso, somos una organización sin ánimo de lucro no política y laica.  
          p.bodySized 6) ¿Puedo ser miembro de public protest poster?
          p.bodySized Puedes convertirte en miembro/partidario de la asociación cultural. Como miembro, recibirás el newsletter mensual y podrás unirte a las actividades in situ que planificaremos en adelante. Por favor escribe a publicprotestposter@gmail.com para más información. 
          p.bodySized 7) ¿Está permitido difundir carteles en público?
          p.bodySized Está permitido difundir carteles en público, pero no en todos los lugares. Difundir opiniones, ideas y pensamientos es libertad de expresión y se enmarca en el artículo 19 de la declaración universal de los derechos humanos. Sin embargo, cada país tiene sus propias normas y reglamentos para la difusión de carteles en público. Te aconsejamos informarte sobre tus leyes locales/nacionales. Public Protest Poster no se hace responsable de la difusión ilegal de carteles. Para más información puedes escribir a publicprotestposter@gmail.com
      .page.right( data-title ='Créditos', data-pid='credits' )
        .inner
          p.bodySized Idea: #[a(href="https://www.instagram.com/goni_studio") Raúl Goñi @goni_studio] &amp; #[a(href="https://www.instagram.com/____santi____") Santi Grau @__santi__ ]
          p.bodySized Licencia: open source del software y de los contenidos citando a public_protest_poster
          p.bodySized Gracias a Anthony Burril #[a(href="http://anthonyburril.co.uk") anthonyburril.co.uk] por la cesión de Function Regular Stencil.
          p.bodySized A Eduardo Manso #[a(href="http://emtype.com") emtype.com] por la cesión de la tipografía Geogrotesque Stencil Bold.
          p.bodySized A Göran Söderström de Letters from Sweeden #[a(href="http://lettersfromsweden.se") lettersfromsweden.se] la tipografía de Trim Stencil.
    #mainFlow
      .page.active( data-title ='ppp', data-pid='main' )
        .inner
          p.title.wlinebreaks
            | public protest
            | project
          p La plataforma horizontal que da voz a las personas, a los barrios y a las ciudades. La herramienta abierta con la que puedes diseñar tu propio poster y compartirlo en tus redes y con la comunidad manteniendo tu anonimato. Cuando acabes tu poster formará parte de la galería anónima. Proyectaremos tus posters y los que la comunidad, diseñe desde alguno de nuestros puntos ubicados en la ciudad de Barcelona y otras ciudades del mundo. También podrás guardarlos en tus fotos, compartirlo como quieras, o guardarlo para   para imprimir y darle el uso que quieras. Esperamos que se utilice la plataforma de una manera constructiva y positiva, evitando ser moralistas o dogmáticos. Protestar es ser testigo. El humor y el respeto son importantes para esta plataforma en demo.
      .page( data-title ='0. Intro', data-pid='intro1' )
        .inner
          p La herramienta con la que puedes diseñar tu propio poster y compartirlo en comunidad
      .page( data-title ='0. Intro', data-pid='intro2' )
        .inner
          p Además, proyectaremos los posters que la comunidad diseñe desde alguno de nuestros puntos ubicados en la ciudad de Barcelona 
      .page( data-title ='0. Intro', data-pid='intro3' )
        .inner
          p También podrás guardarlo en formato PDF para imprimirlo y darle el uso que quieras.
      .page( data-title ='1. Tema', data-pid='theme' )
        .inner
          p ¿De qué#[br ] quieres hablar?
          p.bodySized Puedes hablar de lo que quieras, pero te pedimos por favor que respetes a todo el mundo evitando ser moralista o dogmático. Algunos temas posibles a desarrollar son: 
          p.bodySized abierto, aceptar, activo, actividad, actitud, activismo, advertencia, aeropuerto, agricultura, aire, alarma, alarma, aúpa,  alcohol, alternativa, amor, animales, anti, anuncios, año, apertura,  armas, arte, bailar, balance, bancos, bar, big data, biología, brexit, bicicleta, cambio, cáncer, cartel, capitalismo, censura, creencia, chance, caos, caridad, chocolate, cliché, clima, color, comics, comida, común, comunicación, comunidad, conflicto, conexión, conspiración, consumidor, color, contacto, control, cookies, corona, corrupción, crisis, cura, cuerpo, cultura, chat, danza, debate, democracia, derecho, desarrollo, desastre, desorden,  día, diferente, dignidad, dinero, diverso, discriminación, discusión, desinformación, donante, dron, ecología, economía, educación, elecciones, emergencia, emigrar, emoticono, equidad, era ,escribir, escuela, esperanza, estabilidad, eterno, euro, europa, eurovisión, evolución, examen, exclusión, explotación, experiencia, fabuloso, fa, factoría, fallo, familia, fantasía, fast food, felicidad, feminismo, festival, ficción, film, finanzas, forma, foto, free, frontera, fumar, fútbol, futuro, gadgets, género, generación, genitales, gente, gestos, global, gobierno, guerra, guerrilla, hábitat, hermano, héroes, hipocresía, historia, homofobia, homosexual, horror, humano, humor, idea, identidad, ídolo, iglesia, igualdad, ilegal, imagen, inmigrante, inclusión, independencia, industria, información, injusticia, insecto, inspiración, integración, intercambio, internacional, internet, intimidad, invierno, islam, juicio, justicia, justo, juventud, karma, labor, lengua, lenguaje, libertad de expresión, libertad de prensa, líder, limo, literatura, luna, madre, magia, masculino, manifestación, maneras, máquina, mapa, marca, marketing, masturbación, media, medio ambiente, meditación, memoria, mercado, minoría, móvil, moda, moderno, momento, monstruo, motivación, movimiento, muerte, mujer, mundo, multicultural, multinacional, mundo, música, nación, nacionalismo, nacimiento, Nápoles, natural, naturaleza, navidad, necesidad, negativo, negligencia, noticia, nuclear, nutrición, obesidad, ocupación, off-line, olimpiadas, online, opinión, oportunidad, opresión, opcional, optimismo, oreja, papa, paraíso, pasado, pasporte, pausa, paz, pensión, pérdida, perfecto, personal, personalidad, perspectiva, personas, pone, pirata, plaza, plan, planta, plástico, pobreza, poder, poesía, polar, policía, política, polución, populismo, positivo, poster, practica, prejuicio, pregunta, presente, presión, pride, primavera, prioridad, privado, privatizado, proceso, profesión, progreso, proyecto, promesa, propaganda, profecía, protección, protesta, pública, público, racismo, radical, rock, razón, realidad, rebelde, recurso, reciclar, referéndum, refugiado, regalo, relación, relax, religión, renta, reputación, recursos, reforma, regalo, regla,  respeto, responsabilidad, restricción, revolución, riesgo, riqueza, roca, rol, ropa, rumor, salario, sales, seguridad, selfie, servicio, sexo, sexismo, shopping, siesta, similar, Smartphone, social, socialización, sociedad, soledad, solidaridad, solución, sonido, sorpresa, sostenible, spam, súper héroe, superlativo, tabú, teatro, techno, teléfono, televisión, terror, tiempo, tierra, turismo, trabajo, tráfico, transparencia, transporte, tren, tv, unión, universo, universidad, urbana, utopía, vacaciones, valores, vegano, vegetal, vegetariano, viajar, victoria, vida, violencia, virtual, visa, voluntario, voto, votar, voz, wifi…
      .page( data-title ='2. Tono', data-pid='tone' )
        .inner
          p ¿Qué tono quieres para tu cartel?
          p.bodySized Pueder ser crítico, constructivo, interrogativo, interpelador, para la sociedad, para el presente, para el futuro, para un mundo paralelo, de ciencia ficción, irónico, satírico, provocador, asociativo, retórico, pacífico, anti, … piénsalo antes de escribir.
      .page( data-title ='3. Redacción', data-pid='infotext' )
        .inner
          p Ahora puedes escribir tu mensaje, para que se lea bien a distancia recuerda debería tener 6-7 palabras y utilizar una de ellas de tu tema para que se entienda el mensaje.
      .page.posterPreview( data-title ='3. Redacción', data-pid='writer', data-class = 'Writer' )
        .frame
          textarea.poster( placeholder='Escribe aquí...' maxlength='70' data-gramm_editor='false' rows='1' data-font='helvetica' )
      .page.fullscreen( data-title ='4. Tipografía', data-pid='font', data-class = 'Font' )
        .inner
          ul.optionList
            li.cooper(data-font='cooper' style='padding-top:25px;padding-bottom:10px;').selected HOLA!
            li.funct(data-font='funct' style='padding-top:5px;padding-bottom:20px;') HOLA!
            li.dmserif(data-font='dmserif') HOLA!
            li.kmstandard(data-font='kmstandard') HOLA!
            li.marsh(data-font='marsh' style='padding-top:18px;padding-bottom:7px;') HOLA!
            li.archicoco(data-font='archicoco') HOLA!
            li.trim(data-font='trim') HOLA!
            li.geogrotesque(data-font='geogrotesque') HOLA!
      .page.posterPreview.fullscreen( data-title ='5. Tamaño', data-pid='size', data-class = 'Size' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí...' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
        .inner
          #sizeSelector
            span.selector.more( data-action='more') +
            span.selector.less( data-action='less') –
      .page.posterPreview.fullscreen( data-title ='6. Alinear', data-pid='align', data-class = 'Align' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí...' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
        .inner
          #alignSelector
            span.selector.left( data-action='left')
            span.selector.center( data-action='center')
            span.selector.right( data-action='right')
      .page.fullscreen( data-title ='6. Color', data-pid='color', data-class = 'Color' )
        .inner
          ul.optionList
            li.col(data-background='#626262' data-foreground='#ffffff') HOLA!
            li.col(data-background='#003300' data-foreground='#ffffff') HOLA!
            li.col(data-background='#000066' data-foreground='#ffffff') HOLA!
            li.col(data-background='#330066' data-foreground='#ffffff') HOLA!
            li.col(data-background='#660033' data-foreground='#ffffff') HOLA!
            li.col(data-background='#990000' data-foreground='#ffffff') HOLA!
            li.col(data-background='#ff3300' data-foreground='#ffffff') HOLA!
            li(data-background='#ffffff' data-foreground='#000000').selected HOLA!
      .page.posterPreview( data-title ='7. Tu cartel', data-pid='preview' )
        .frame
          textarea.poster.editor( placeholder='Escribe aquí...' maxlength='70' data-gramm_editor='false' rows='1' readonly data-font='helvetica' )
      .page( data-title ='8. Guardar', data-pid='save', data-class = 'Upload' )
        .inner
          p También nos gustaría saber donde estás para que la comunidad entienda la dimensión global del proyecto 
          input.bodySized( type='text' name='zipcode' placeholder="ZIP")
          input.bodySized( type='text' name='country' placeholder="País")
          p #[a#uploadBut(href='javascript:void(0)') Enviar ]
      .page( data-title ='8. Guardar', data-pid='save2', data-class = 'Save' )
        .inner
          p Tu cartel será anónimo y formará parte de la galería. Ahora puedes guardarlo en tus #[a.save(href='javascript:void(0)' data-format='png') fotos], o en PDF para #[a.save(href='javascript:void(0)' data-format='pdf') imprimir]
      .page( data-title ='9. Compartir', data-pid='share', data-class = 'Share' )
        .inner
          p La difusión es importante, compártelo en la Red para llegar un mayor número de personas con tu mensaje y/o imprímelo para dejar huella lo más cerca posible del lugar que le corresponda al que se dirige el mensaje
      .page.right( data-title ='News', data-pid='news' )
        .inner
          p Queremos informarte de las diferentes proyecciones semanales y mensuales por todo el mundo.
          input.bodySized( type='text' placeholder="nombre@correo.com")
          p #[a(href='javascript:void(0)') Enviar ]
    #header.navi
      .inner
        #pageTitle.main ppp
      #menuBut
    #footer.navi
      .inner
        span.arrow.left ←
        span.arrow.right →
        span.arrow.menu ←
    script(src='../js/main.js')
